{% extends "base.html.twig" %}

{% block title %}
	Registrace
{% endblock %}

{% block body %}
	<div class="bg-white shadow-md rounded-lg p-6">
		<h1 class="text-3xl font-bold mb-4">Registrace</h1>
		<p class="mb-6">
			Prosím zaregistrujte se.
		</p>
		<div class="flex justify-end mb-4">
			<a href="{{ path("app_brands") }}" class="btn btn-primary">Zpět na Úvod</a>
		</div>

		<div class="mb-4 lg:w-96">
			{{ form_start(form) }}
			<label class="input input-bordered flex input-accent items-center gap-2 mb-5">
				{{ form_label(form.email) }}
				{{ form_widget(form.email) }}
				{{ form_errors(form.email) }}
			</label>

			<label class="input input-bordered flex input-accent items-center gap-2 mb-5">
				{{ form_label(form.password) }}
				{{ form_widget(form.password) }}
				{{ form_errors(form.password) }}
			</label>

			<label class="form-control w-full max-w-xs mb-5">
				<div class="label">
					<span class="label-text">{{ form_label(form.role) }}</span>
				</div>
				{{ form_widget(form.role, {"attr": {"class": "select select-bordered"}}) }}
			</label>

			<button type="submit" class="btn btn-primary">Registrovat</button>
			{{ form_end(form) }}

		</div>

	</div>
{% endblock %}
